<div class="row">
    <div class="col-8 align-items-center">
        <h5 mat-dialog-title class="mt-0 mb-1">{{(positionID)?'Edit':'New'}}</h5>
    </div>
    <div class="col-4 text-right align-items-top">
        <button mat-ripple (click)="close()" class="btn btn-danger btn-xs float-end" type="button"><i
                class="mdi mdi-close"></i></button>
    </div>
</div>
<hr class="my-1">
<form action="" [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-md-12">
            
                    <div class="">
                        <lb-auto-complete appearance="outline" placeholder="Group" [multiple]="false" [clear]="true"
                            [fControl]="form.controls['group']" [options]="selectgroup">
                        </lb-auto-complete>
                    </div>
                    <div class="mb-3">
                        <div class="input-group input-group-merge">
                            <input type="text" id="text" class="form-control" formControlName="code" placeholder="Code">
                            <vmessage field="code" [control]="form.controls['code']">
                            </vmessage>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="input-group input-group-merge">
                            <input type="text" id="description" class="form-control" formControlName="description"
                                placeholder="Description">
                            <vmessage field="description" [control]="form.controls['description']">
                            </vmessage>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" formControlName="active" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Active
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary float-end">
                        {{(positionID)?"Update":"Save"}}
                    </button>
                </div>
            </div>
</form>
