<div class="card mt-2">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <h4 class="font-22">Repeat Quote</h4>
            </div>
            <div class="col-md-10">
                <div class="float-end">
                <button class="btn btn-primary  mt-2 mt-lg-0 mt-md-0" (click)="newDialog()">New</button>
                <button class="btn btn-warning  mt-2 mt-lg-0 mt-md-0 ms-1" routerLink="/quotes/new-quotes">New Quote</button>
            </div>
        </div>
        </div>
    </div>
</div>