<div class="row">
    <div class="col-md-8 align-items-center">
        <h5 mat-dialog-title class="mt-0 mb-1">Embed Image</h5>
    </div>
    <div class="col-md-4 text-right align-items-top">
        <button mat-ripple (click)="close()" class="btn btn-danger btn-xs float-end" type="button"><i
                class="mdi mdi-close"></i></button>
    </div>
</div>
<hr class="my-1">
<div class="row justify-content-center">
    <div class="col-md-12  text-center">
        <div *ngIf="image" class="form-group">
            <img [src]="image" alt="Product Image" class="w-50 " />
        </div>
    </div>
    <button class="btn btn-xs btn-primary" (click)="embedImage()">Embed Image</button>
</div>