<div class="card mt-2">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h4 class="font-22">Weights</h4>
            </div>
            <div class="col-md-12 col-lg-4 col-12">
                <div>
                    <form class="search-bar" [formGroup]="search">
                        <div class="position-relative" >
                            <input type="text" class="form-control form-control-white"
                            formControlName="search" (keydown.enter)="searchActionTypes({query : this.search.value.search})"
                            placeholder="Search Weight">
                            <span class="mdi mdi-magnify" (click)="searchActionTypes({query : this.search.value.search})"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-primary w-100 float-end mt-lg-0 mt-md-2 mt-2" (click)="newDialog()">New</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="responsive-table-plugin">
                    <div class="table-category-plugin">
                        <div class="table-responsive" data-pattern="priority-columns">
                            <table matSort (matSortChange)="sortData($event)" id="tech-companies-1" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="code">Code</th>                                        
                                        <th mat-sort-header="description">Description</th>
                                        <th>Active</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let items of data">
                                        <th>{{items.code}}</th>                                        
                                        <td>{{items.description}}</td>
                                        <td>
                                            <div class="form-check ms-2">
                                                <input onclick="return false;" class="form-check-input" type="checkbox" value="" [checked]="items.active"
                                                    id="flexCheckDefault">
                                            </div>
                                        </td>
                                        <td style="min-width: 120px;">
                                            <button class="btn btn-warning btn-xs" (click)="newDialog(items.id)"><i class=" fe-edit text-white"></i>
                                            </button>
                                            <button class="btn btn-danger btn-xs ms-1" (click)="deleteWeights(items.id)"><i class="  fe-trash-2 text-white"></i>
                                            </button>
                                        </td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="float-end">
                    <button class="btn btn-danger btn-xs" (click)="getPrevious()"
                        [class.disabled]="start == 1">Previous</button>
                    <button class="btn btn-primary btn-xs ms-1" (click)="getNext()" [class.disabled]="end >= count">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading></app-loading>