<div class="row">
    <div class="col-8 align-items-center">
        <h5 mat-dialog-title class="mt-0 mb-1">{{(BrandingID)?'Edit' : 'New'}}</h5>
    </div>
    <div class="col-4 text-right align-items-top">
        <button mat-ripple (click)="close()" class="btn btn-danger btn-xs float-end" type="button"><i
                class="mdi mdi-close"></i></button>
    </div>
</div>
<hr class="my-1">
<form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-12">

            <div class="mb-3">
                <div class="input-group input-group-merge">
                    <input type="text"  class="form-control" formControlName="code" placeholder="Code">
                    <vmessage field="code" [control]="form.controls['code']">
                    </vmessage>
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group input-group-merge">
                    <input type="text"  class="form-control" formControlName="name" placeholder="Name">
                    <vmessage field="name" [control]="form.controls['name']">
                    </vmessage>
                </div>
            </div>
            <div class="mb-3">
                <div class="input-group input-group-merge">
                    <input type="text" id="description" class="form-control" formControlName="description"
                        placeholder="Description">
                    <vmessage field="description" [control]="form.controls['description']">
                    </vmessage>
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" formControlName="active" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Active
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary float-end">
                {{(BrandingID)?"Update":"Save"}}
            </button>
        </div>
    </div>
</form>