<div class="card mt-2">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <h4 class="font-22">Action Type</h4>
            </div>
            <div class="col-md-3">
                <div>
                    <lb-auto-complete appearance="outline" placeholder="Select Type" [multiple]="false"
                        [clear]="true" [fControl]="search.controls['filter']" [options]="selectType" [value]="'id'"
                        (selectionChange)="selectedType($event)">
                    </lb-auto-complete>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-12">
                <div>
                    <form class="search-bar" [formGroup]="search">
                        <div class="position-relative">
                            <input type="text" formControlName="search" class="form-control form-control-white"
                                placeholder="Search Action Types"
                                (keydown.enter)="searchActionTypes({query : this.search.value.search})">
                            <span class="mdi mdi-magnify" (click)="searchActionTypes({query : this.search.value.search})"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-primary w-100 mt-2 mt-lg-0 mt-md-0 float-end" (click)="newDialog()">New</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="responsive-table-plugin">
                    <div class="table-category-plugin">
                        <div class="table-responsive" data-pattern="priority-columns">
                            <table matSort (matSortChange)="sortData($event)" id="tech-companies-1"
                                class="table table-striped">
                                <thead>
                                    <tr>
                                        <th mat-sort-header="description">Description</th>
                                        <th mat-sort-header=" sortOrder">Sort Order</th>
                                        <th mat-sort-header="category">Category</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let items of data">
                                        <th>{{items.description}}</th>
                                        <td>{{items.sortOrder}}</td>
                                        <td>{{items.category}}</td>
                                        <td style="min-width: 120px;">
                                            <button class="btn btn-warning btn-xs" (click)="newDialog(items.id)"><i
                                                    class=" fe-edit text-white"></i>
                                            </button>
                                            <button class="btn btn-danger btn-xs ms-1 "
                                                (click)="deleteActionType(items.id)"><i
                                                    class=" fe-trash-2 text-white"></i>
                                            </button>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="float-end">
                    <button class="btn btn-danger btn-xs" (click)="getPrevious()"
                        [class.disabled]="start == 1">Previous</button>
                    <button class="btn btn-primary btn-xs ms-1" (click)="getNext()"
                        [class.disabled]="end >= count">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-loading></app-loading>